<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link rel="stylesheet" href="homeStyle.css">
</head>
<body>
	<div class="form-group has-feedback" id="home-search">
		<input type="search" class="form-control" ng-model="city" placeholder="SEARCH"/>
		<span class="glyphicon glyphicon-search form-control-feedback"></span>
	</div>
	<div class="login-status" ng-model="login-status">login status/name here</div>
	<header class="home-header"><a href="#/home">FAMILY-SHARE</a></header>
	<img class="home-folder" src="http://icons.iconarchive.com/icons/media-design/hydropro-v2/512/Folder-icon.png"></img>
	<div id='home-menu'>
	<div class="home-main-container">
		Hi {{person\s name}} select option from the left to get started
	</div>	
	<ul>
	<li><a href='#/home'><span>Home</span></a></li>
	<li><a href="#/upload"><span>Upload Files</span></a></li>
		<li class='active has-sub'><a href='#'><span>Stored Files</span></a>
		<ul>
			<li><a href='#'><span>Documents</span></a></li>
			<li><a href='#'><span>Photos</span></a></li>
		</ul>
	</li>
	<li><a href='#/forum'><span>Family Forum</span></a></li>
	<li class='last'><a href='#/chat'><span>Family Chat</span></a></li>
	</ul>
	</div>
	<footer class="home-footer">&copy; OD-Werks, Designed for de Moura/Atkisson Families<a href="mailto:odie_de_moura@hotmail.com" target="_top" class="home-email">GET IN TOUCH</a></footer>
</body>